<html lang="en">
<head>
  {{>header}}
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">iCoder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">about</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Topics
                    </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Technology">Technology</a>
                        <a class="dropdown-item" href="https://www.geeksforgeeks.org/web-development/">Web Development</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/contact">Support</a>
                        <a class="dropdown-item" href="/contact">Write For Us</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact us</a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <!-- main header -->
    <div class="container-fluid main_header" style="display: flex;justify-content: center;align-items: center; flex-direction: row;">
      <div class="row">
         <div class="col-md-10 col-12 mx-auto">
            <div class="row">
              <!-- left side div -->
              <div class="col-md-12 col-12 main_header_left align-items-center ">
                <figure class="errimg">
                 <img src="https://source.unsplash.com/random/1400×300/?error,404,Error,error404,404error,404Error" height="300" width="270"  style="margin-top: 150px;" alt="Error" >
                </figure>
 
                <p>welcome to Rohan Blog Page</p>
                <h1>{{Errormsg}}</h1>
                <a href="/"> <button style="background-color: rgb(94, 94, 239); border-radius: 7px; color: aliceblue;">Go back</button></a>
              </div>
              <!-- Right side div -->
              
           
          </div>
        </div>
      </div>
   </div>

  <!-- footer part-->
  {{>footer}}
</body>
</html>